<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{name}}, Welcome to {{ title }}!
  </h1>
<!-- mi comentario -->

<router-outlet></router-outlet>
